@charset "UTF-8";
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("☺"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Extrabold";
  src: url("../fonts/Gilroy-Extrabold.eot");
  src: local("☺"), url("../fonts/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy-Extrabold.ttf") format("truetype"), url("../fonts/Gilroy-Extrabold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("☺"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Gilroy-Medium";
  background-color: #FFFFFF;
}

input, button, textarea {
  font-family: "Gilroy-Medium";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.pts {
  font-family: "PT Serif";
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.header {
  background: url(../img/bg.png) 0 0/cover no-repeat;
}

.header-page {
  background: #F6F6F6;
  -webkit-box-shadow: 0px 2px 15px #d8d7d7;
          box-shadow: 0px 2px 15px #d8d7d7;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 29px;
  margin-bottom: 38px;
}
@media (max-width: 992px) {
  .header__row {
    padding-bottom: 20px;
  }
}

.header__logo {
  font-family: "Gilroy-Bold";
  font-weight: 600;
  font-size: 52px;
  color: #E1E1E1;
  border-right: 3px solid #89AFEF;
  padding-right: 18px;
}

.header__logotext {
  padding-left: 18px;
  padding-top: 5px;
  font-weight: 500;
  font-size: 14px;
  color: #5D5D5D;
}
@media (max-width: 445px) {
  .header__logotext {
    display: none;
  }
}

.header__icons {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 663px) {
  .header__icons {
    display: none;
  }
}

.header__icon {
  width: 43px;
  height: 43px;
  border: 1px solid;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px;
}

.icon1 {
  border: 1px solid #2DD038;
  background-color: #2DD038;
  -webkit-box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
          box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.icon1:hover {
  -webkit-box-shadow: 0px 0px 25px 5px rgba(45, 208, 56, 0.497678);
          box-shadow: 0px 0px 25px 5px rgba(45, 208, 56, 0.497678);
}

.icon2 {
  border: 1px solid #7B519D;
  background-color: #7B519D;
  -webkit-box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
          box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.icon2:hover {
  -webkit-box-shadow: 0px 0px 25px 5px rgba(123, 81, 157, 0.503797);
          box-shadow: 0px 0px 25px 5px rgba(123, 81, 157, 0.503797);
}

.icon3 {
  border: 1px solid #5BBAF0;
  background-color: #5BBAF0;
  -webkit-box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
          box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.icon3:hover {
  -webkit-box-shadow: 0px 0px 25px 5px rgba(91, 186, 240, 0.5);
          box-shadow: 0px 0px 25px 5px rgba(91, 186, 240, 0.5);
}

.header__contacts {
  margin-right: 30px;
}
@media (max-width: 1200px) {
  .header__contacts {
    display: none;
  }
}

.header__number {
  font-size: 20px;
  margin-bottom: 8px;
}
.header__number::before {
  content: url(../img/icons/icon4.png);
  width: 16px;
  height: 16px;
  padding-right: 9px;
}

.header__mail {
  font-size: 17px;
  text-align: right;
  color: #333333;
}
.header__mail::before {
  content: url(../img/icons/icon5.png);
  width: 16px;
  height: 16px;
  padding-right: 9px;
}

.header__order {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#F6BD60), to(#E88952));
  background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
  -webkit-box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
          box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
  border-radius: 3px;
  max-height: 44px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.header__order:hover {
  -webkit-box-shadow: 0px 0px 18px 10px rgba(242, 147, 81, 0.450503);
          box-shadow: 0px 0px 18px 10px rgba(242, 147, 81, 0.450503);
}
@media (max-width: 992px) {
  .header__order {
    display: none;
  }
}

.header__order-burger {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#F6BD60), to(#E88952));
  background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
  -webkit-box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
          box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
  border-radius: 3px;
  height: 64px;
  max-width: 50%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.header__order-burger:hover {
  -webkit-box-shadow: 0px 0px 18px 10px rgba(242, 147, 81, 0.450503);
          box-shadow: 0px 0px 18px 10px rgba(242, 147, 81, 0.450503);
}
@media (max-width: 767px) {
  .header__order-burger {
    max-width: 70%;
  }
}

.header__button {
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  padding: 12px 28px 12px 28px;
}

.header__button-burger {
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  color: #FFFFFF;
  padding: 12px 28px 12px 28px;
}
@media (max-width: 767px) {
  .header__button-burger {
    font-size: 20px;
    line-height: 22px;
  }
}

.burger {
  position: absolute;
  right: 20px;
  top: 30px;
}

.menu__icon {
  display: none;
  margin: 10px 20px 0 0;
}

@media (max-width: 992px) {
  .menu__icon {
    display: block;
    z-index: 30;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon span,
.menu__icon::after,
.menu__icon::before {
    left: 0;
    position: absolute;
    height: 2px;
    width: 34px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #6C80CB;
  }

  .menu__icon::before,
.menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
}
.menu__icon._active span {
  -webkit-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}
.menu__icon._active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 60%);
          transform: rotate(45deg) translate(0px, 60%);
}
.menu__icon._active::before {
  bottom: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, 60%);
          transform: rotate(-45deg) translate(0px, 60%);
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu .header__menu__option {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 19px;
}
.header__menu .header__menu__option a {
  color: #333333;
}
.header__menu .header__menu__option a:hover {
  color: #6C80CB;
}
@media (max-width: 992px) {
  .header__menu .header__menu__option {
    -webkit-box-flex: 30%;
        -ms-flex: 30%;
            flex: 30%;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 992px) {
  .header__menu {
    display: none;
  }
}

.burger__menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(216, 216, 216, 0.9);
  padding: 100px 30px 30px 30px;
  -webkit-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
  overflow: auto;
}

.burger__menu._active {
  left: 0;
}

.burger__list > li {
  margin-bottom: 50px;
}
.burger__list > li a {
  font-family: "Gilroy-Bold";
  font-size: 44px;
  text-transform: uppercase;
  line-height: 26px;
  color: #6C80CB;
}
@media (max-width: 767px) {
  .burger__list > li a {
    font-size: 36px;
    line-height: 26px;
  }
}
@media (max-width: 580px) {
  .burger__list > li a {
    font-size: 30px;
    line-height: 26px;
  }
}

.burger__list > li:last-child {
  margin-bottom: 0px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media (max-width: 767px) {
  .header__body {
    padding-bottom: 20px;
  }
}

.header__body__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__body__text1 {
  font-family: "Gilroy-Extrabold";
  font-weight: 900;
  font-size: 40px;
  line-height: 51px;
  color: #333333;
  margin-bottom: 34px;
}
@media (max-width: 767px) {
  .header__body__text1 {
    font-size: 25px ;
  }
}
@media (max-width: 992px) {
  .header__body__text1 {
    font-size: 30px ;
  }
}

.header__body__text2 {
  font-size: 24px;
  line-height: 28px;
  color: #333333;
  margin-bottom: 34px;
}
.header__body__text2 span {
  font-family: "Gilroy-ExtraBold";
  font-weight: 600;
}
@media (max-width: 767px) {
  .header__body__text2 {
    font-size: 20px;
  }
}

.header__body__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 211px;
  max-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  background: -webkit-gradient(linear, left top, right top, from(#87AFF1), color-stop(100%, #6C80CB), to(#6C80CB));
  background: linear-gradient(90deg, #87AFF1 0%, #6C80CB 100%, #6C80CB 100%);
  -webkit-box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
          box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
  border-radius: 3px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media (max-width: 767px) {
  .header__body__button {
    max-width: 200px;
    height: 30px;
  }
}
.header__body__button:hover {
  -webkit-box-shadow: 0px 0px 20px 10px rgba(132, 170, 237, 0.454846);
          box-shadow: 0px 0px 20px 10px rgba(132, 170, 237, 0.454846);
}

@media (max-width: 767px) {
  .header__img {
    display: none;
  }
}

.documents__title {
  font-family: "Gilroy-ExtraBold";
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #333333;
  margin-bottom: 54px;
  margin-top: 40px;
}

.documents__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.documents__block {
  width: 262px;
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px 30px 15px;
  -webkit-box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
}
@media (max-width: 609px) {
  .documents__block {
    width: 200px;
    height: 170px;
  }
}

.doc__block__icon {
  margin-bottom: 25px;
  margin-top: 32px;
}

.doc__block__text {
  margin-bottom: 36px;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #333333;
}

.doc__bonus {
  background: #F6F6F6;
}
@media (max-width: 1200px) {
  .doc__bonus {
    display: none;
  }
}

.doc__bonus__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.doc__bonus__element {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 250px;
  height: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.doc__bonus__icon {
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 50%;
  height: 98px;
  width: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.doc__bonus__title {
  font-family: "Gilroy-Bold";
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 15px;
}

.doc__bonus__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  color: #333333;
}

.image-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 992px) {
  .image-slider__slide {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.edu__title {
  font-family: "Gilroy-ExtraBold";
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #333333;
  margin-top: 52px;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .edu__title {
    font-size: 26px;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 20px;
  }
}

.edu__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  max-width: 265px;
  max-height: 366px;
  padding: 26px;
  margin-right: 30px;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .edu__slide {
    max-width: 220px;
    max-height: 300px;
    padding: 15px;
  }
}
@media (max-width: 992px) {
  .edu__slide {
    max-width: 200px;
    max-height: 280px;
    padding: 10px;
  }
}

.edu__slide__img {
  margin-bottom: 17px;
}
@media (max-width: 1200px) {
  .edu__slide__img img {
    max-width: 150px;
    max-height: 100px;
  }
}
@media (max-width: 992px) {
  .edu__slide__img img {
    max-width: 140px;
    max-height: 80px;
  }
}

.edu__slide__title {
  font-family: "Gilroy-Bold";
  font-weight: 800;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #333333;
  margin-bottom: 5px;
}
@media (max-width: 1200px) {
  .edu__slide__title {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (max-width: 992px) {
  .edu__slide__title {
    font-size: 16px;
    line-height: 18px;
  }
}

.edu__slide__status {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #53B43B;
  position: relative;
  margin-bottom: 20px;
}
.edu__slide__status::before {
  content: "";
  border: 0.5px solid #53B43B;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  display: inline-block;
  position: absolute;
  left: -17px;
  top: 3px;
}
.edu__slide__status::after {
  content: url(../img/icons/icon6.png);
  position: absolute;
  top: -1px;
  left: -14px;
}
@media (max-width: 1200px) {
  .edu__slide__status {
    font-size: 14px;
    line-height: 18px;
  }
}

.edu__slide__price {
  font-family: "Gilroy-Bold";
  font-size: 22px;
  line-height: 27px;
}
@media (max-width: 1200px) {
  .edu__slide__price {
    font-size: 18px;
    line-height: 18px;
  }
}

.image-slider {
  position: relative;
  margin-bottom: 52px;
}
@media (max-width: 992px) {
  .image-slider {
    margin-bottom: 20px;
  }
}

.image-slider .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  line-height: 11px;
  background-color: #E4E4E4;
  border: 2px solid #84AAED;
}

.image-slider__wrapper {
  padding-bottom: 30px;
}
@media (max-width: 992px) {
  .image-slider__wrapper {
    padding-bottom: 15px;
  }
}

.example {
  background-color: #F6F6F6;
}

.example__slider {
  position: relative;
  margin-bottom: 52px;
  padding-bottom: 52px;
}

.example__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

.example__title {
  font-family: "Gilroy-ExtraBold";
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #333333;
  padding-top: 52px;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .example__title {
    padding-top: 15px;
    font-size: 26px;
    line-height: 32px;
  }
}

.example__slide__img {
  text-align: center;
  margin: 0 19px;
}

.example__slide__img img {
  max-width: 100%;
}

.example__slider .swiper-button-prev::after,
.example__slider .swiper-button-next::after {
  color: #ACACAC;
  width: 21px;
  height: 39px;
}

.news__title {
  font-family: "Gilroy-ExtraBold";
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #333333;
  margin-bottom: 21px;
}
@media (max-width: 992px) {
  .news__title {
    font-size: 26px;
  }
}

.news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
}

.news__bonus {
  max-height: 348px;
  background-color: #FAFAFB;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/bg1.png) right/40% 100% no-repeat;
  padding: 41px 0 41px 31px;
  margin-right: 30px;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
}
@media (max-width: 1200px) {
  .news__bonus {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 60%;
            flex: 1 0 60%;
    margin-right: 50px;
  }
}
@media (max-width: 992px) {
  .news__bonus {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    margin-right: 0px;
  }
}

.news__bonus__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__bonus__title {
  font-family: "Gilroy-Bold";
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin-bottom: 27px;
}
.news__bonus__title span {
  color: #86ADEF;
}
@media (max-width: 992px) {
  .news__bonus__title {
    padding-top: 15px;
    font-size: 26px;
    line-height: 32px;
  }
}

.news__bonus__text {
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 1200px) {
  .news__bonus__text {
    font-size: 15px;
    line-height: 18px;
  }
}

.news__bonus__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}
@media (max-width: 586px) {
  .news__bonus__img {
    display: none;
  }
}

@media (max-width: 1200px) {
  .news2 {
    display: none;
  }
}

.news__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  min-width: 0;
}
@media (max-width: 992px) {
  .news__body {
    display: none;
  }
}

.news__slide__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  width: 262px;
  height: 348px;
  padding: 27px 24px;
}

.news__slide__img {
  margin-bottom: 16px;
}

.news__slide__date {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 14px;
  line-height: 16px;
  color: #ABABAB;
  margin-bottom: 13px;
}

.news__slide__title {
  font-family: "Gilroy-Medium";
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  margin-bottom: 13px;
}

.news__slide__text {
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 19px;
}

.news__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.news__button {
  padding: 10px 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #6D81CC;
  border-radius: 3px;
  color: #6D81CC;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.news__button:hover {
  padding: 10px 60px;
}

.footer {
  background-color: #333333;
}

.footer__columns {
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 992px) {
  .footer__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin-right: 50px;
}
@media (max-width: 992px) {
  .footer__column {
    margin-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__column__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 27px;
  pointer-events: none;
  cursor: pointer;
}
@media (max-width: 992px) {
  .footer__column__title {
    pointer-events: all;
  }
}
.footer__column__title:hover {
  color: #E88952;
}

.footer__option__list {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 992px) {
  .footer__option__list {
    display: none;
  }
}
.footer__option__list li {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  margin-bottom: 15px;
  cursor: pointer;
}
.footer__option__list li:hover {
  color: #E88952;
}
.footer__option__list:last-child {
  margin-bottom: 0px;
}

.fList1._active {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0 20px;
}
@media (max-width: 992px) {
  .fList1._active {
    display: block;
  }
  .fList1._active li {
    font-size: 18px;
    line-height: 18px;
  }
}

.fList2._active {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0 20px;
}
@media (max-width: 992px) {
  .fList2._active {
    display: block;
  }
  .fList2._active li {
    font-size: 18px;
    line-height: 18px;
  }
}

.fList3._active {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0 20px;
}
@media (max-width: 992px) {
  .fList3._active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .fList3._active .footer__social__element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .fList3._active .footer__social {
    font-size: 20px;
    line-height: 24px;
  }
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
@media (max-width: 992px) {
  .footer__contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__social {
  font-family: "Gilroy-Regular";
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  padding-left: 15px;
}

.social1 {
  margin-bottom: 20px;
}

.social2 {
  margin-bottom: 20px;
}

.social3 {
  margin-bottom: 40px;
}

.social4 {
  margin-bottom: 20px;
}

.social5 {
  margin-bottom: 40px;
}

.footer__social__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__social__element img {
  max-width: 21px;
  max-height: 21px;
}
.footer__social__element:hover .footer__social {
  color: #E88952;
}
@media (max-width: 992px) {
  .footer__social__element {
    display: none;
  }
}

.footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, right top, from(#F6BD60), to(#E88952));
  background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
  -webkit-box-shadow: 0px 8px 15px rgba(242, 147, 81, 0.449492);
          box-shadow: 0px 8px 15px rgba(242, 147, 81, 0.449492);
  border-radius: 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 262px;
  margin-bottom: 40px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.footer__btn:hover {
  -webkit-box-shadow: 0px 0px 15px 10px rgba(242, 147, 81, 0.449492);
          box-shadow: 0px 0px 15px 10px rgba(242, 147, 81, 0.449492);
}

.footer__call {
  padding: 15px 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.footer__logo {
  font-family: "Gilroy-ExtraBold";
  font-weight: 800;
  font-size: 60px;
  line-height: 74px;
  color: rgba(255, 255, 255, 0.12653);
}

.footer__license {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #4E4E4E;
  width: 100%;
  padding: 20px 0;
}

.license__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #565656;
}

.breadcrumbs {
  margin-top: 25px;
  padding-bottom: 30px;
}

.breadcrumbs__text {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-decoration: underline;
}
.breadcrumbs__text a {
  color: #86AFEF;
}

.info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/bg2.png) 0 0/cover no-repeat;
  padding: 40px;
  height: 376px;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .info__row {
    background: url(../img/bg.png) 0 0/cover no-repeat;
  }
}
@media (max-width: 767px) {
  .info__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.info__column1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  width: 188px;
}

.price__title {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #333333;
  white-space: nowrap;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .price__title {
    font-size: 20px;
    line-height: 22px;
  }
}

.price {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  border-bottom: 3px solid #87B0EE;
  color: #87B0EE;
  margin: 0 auto;
  margin-bottom: 20px;
}

.price__text {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  white-space: nowrap;
  color: #333333;
  margin-bottom: 20px;
}
.price__text span {
  font-family: "Gilroy-Bold";
}
@media (max-width: 767px) {
  .price__text {
    font-size: 20px;
    line-height: 26px;
  }
}

.price__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 188px;
  max-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  background: -webkit-gradient(linear, left top, right top, from(#87AFF1), color-stop(100%, #6C80CB), to(#6C80CB));
  background: linear-gradient(90deg, #87AFF1 0%, #6C80CB 100%, #6C80CB 100%);
  -webkit-box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
          box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.price__button:hover {
  -webkit-box-shadow: 0px 0px 10px 10px rgba(132, 170, 237, 0.454846);
          box-shadow: 0px 0px 10px 10px rgba(132, 170, 237, 0.454846);
}
.price__button div {
  padding: 16px 0;
}

.info__column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 25px;
  margin-left: 60px;
}
@media (max-width: 767px) {
  .info__column2 {
    display: none;
  }
}

.banner__title {
  font-family: "Gilroy-ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 51px;
  margin-bottom: 20px;
  color: #333333;
}
@media (max-width: 992px) {
  .banner__title {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (max-width: 767px) {
  .banner__title {
    font-size: 26px;
    line-height: 30px;
  }
}

.banner__text {
  max-width: 488px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #333333;
  font-family: "Gilroy-Regular";
}

.text1 {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 20px;
}

.text2 {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin-bottom: 20px;
}

.text3 {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 20px;
}

.text4 {
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 29px;
  color: #333333;
  margin-bottom: 20px;
}

.qualification {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 21px;
  color: #333333;
  padding-bottom: 50px;
  margin-left: 50px;
}
.qualification li {
  margin-bottom: 10px;
}
.qualification li::before {
  content: "";
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: #87B0EE;
  display: inline-block;
  margin-right: 10px;
}
.qualification:last-child {
  margin-bottom: 0;
}

.warranty {
  background-color: #F6F6F6;
  padding-top: 35px;
  padding-bottom: 35px;
}
@media (max-width: 1200px) {
  .warranty {
    display: none;
  }
}

.warranty__title {
  font-family: "Gilroy-ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #333333;
}

.registration {
  background: url(../img/form-bg.png) 0 0/cover no-repeat;
  padding-top: 40px;
}
@media (max-width: 1200px) {
  .registration {
    padding-top: 15px;
  }
}

.registration__title {
  font-family: "Gilroy-ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 51px;
  color: #FFFFFF;
  padding-bottom: 25px;
}

.registration__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #678BC7;
}
@media (max-width: 767px) {
  .form__part1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.formblock {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .formblock {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

.formblock__name {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #516C9A;
  margin-bottom: 10px;
}

.formfield {
  border-radius: 2px;
  width: 360px;
  height: 46px;
  padding: 10px;
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #7B7B7B;
}

.form__part2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 30px;
  padding-bottom: 40px;
}
@media (max-width: 1200px) {
  .form__part2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.formblock2 {
  margin-right: 15px;
  margin-bottom: 15px;
}

.formfield-number {
  border-radius: 2px;
  width: 164px;
  height: 46px;
  padding: 10px;
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #7B7B7B;
}
.formfield-mail {
  border-radius: 2px;
  width: 164px;
  height: 46px;
  padding: 10px;
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #7B7B7B;
}

.formfield-address {
  border-radius: 2px;
  width: 555px;
  height: 46px;
  padding: 10px;
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #7B7B7B;
}

.form__button {
  background: -webkit-gradient(linear, left top, right top, from(#F6BD60), to(#E88952));
  background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
  -webkit-box-shadow: 0px 8px 18px rgba(167, 108, 67, 0.43892);
          box-shadow: 0px 8px 18px rgba(167, 108, 67, 0.43892);
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 46px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.form__button:hover {
  -webkit-box-shadow: 0px 0px 18px 10px rgba(167, 108, 67, 0.43892);
          box-shadow: 0px 0px 18px 10px rgba(167, 108, 67, 0.43892);
}
@media (max-width: 1200px) {
  .form__button {
    width: 164px;
    height: 46px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
.form__button div {
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  padding: 0 15px;
  color: #FFFFFF;
}

.newspage__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newspage__slide__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  width: 262px;
  height: 348px;
  padding: 27px 24px;
  margin-bottom: 20px;
}

.newspage__slide {
  margin-bottom: 40px;
}

.newspage__slider .swiper-pagination-bullet {
  border: 2px solid #8d8d8d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 28px;
  height: 28px;
  border-radius: 0%;
  background-color: #F6F6F6;
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  padding-top: 5px;
  text-align: center;
  color: #8d8d8d;
}

.newspage__slider .swiper-pagination-bullet-active {
  color: #87B0EE;
  border: 2px solid #87B0EE;
}

.contacts {
  background: url(../img/bg-contact.png) 0 0/cover no-repeat;
}

.contacts__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 70px;
}
@media (max-width: 562px) {
  .contacts__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 128px;
}
@media (max-width: 767px) {
  .contacts__column {
    margin-right: 20px;
  }
}
@media (max-width: 562px) {
  .contacts__column {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.contacts__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #87B0EE;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 458px;
          flex: 0 1 458px;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 458px;
}
@media (max-width: 1200px) {
  .contacts__order {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
}

.contacts__form {
  height: 468px;
}

.form__field {
  display: block;
  border-radius: 3px;
  width: 322px;
  height: 42px;
  margin-bottom: 15px;
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #7B7B7B;
  padding: 16px;
}
@media (max-width: 767px) {
  .form__field {
    width: 250px;
  }
}

.form__textarea {
  display: block;
  border-radius: 3px;
  max-height: 120px;
  margin-bottom: 15px;
  width: 322px;
  resize: none;
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #7B7B7B;
  padding: 16px;
}
@media (max-width: 767px) {
  .form__textarea {
    width: 250px;
  }
}

.contacts__button {
  background: -webkit-gradient(linear, left top, right top, from(#F6BD60), to(#E88952));
  background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
  -webkit-box-shadow: 0px 8px 18px rgba(167, 108, 67, 0.43892);
          box-shadow: 0px 8px 18px rgba(167, 108, 67, 0.43892);
  border-radius: 3px;
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  padding: 15px;
  width: 195px;
}

.contacts__form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__title {
  font-family: "Gilroy-ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 15px;
}
@media (max-width: 1200px) {
  .form__title {
    font-size: 25px;
    line-height: 30px;
  }
}

.contacts__title {
  font-family: "Gilroy-ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  color: #333333;
  margin-bottom: 10px;
}

.contacts__text {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 40px;
}

.contacts__mail {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: left;
  margin-bottom: 40px;
}

.contacts__icons {
  margin-bottom: 40px;
}

.qr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.qr__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0 0 30px;
  max-width: 500px;
}
@media (max-width: 992px) {
  .qr__body {
    display: none;
  }
}

.qr__body__title {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 15px;
}

.qr__body__text {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}